<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tojc.logging.android"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

	<provider android:name="com.tojc.logging.android.provider.LoggerProvider"
	    android:authorities="com.tojc.logging.android"
	    android:exported="false"
	    >
		<meta-data android:name="database_name" android:value="MultiProcessAppLoggerDatabase" />
		<meta-data android:name="database_version" android:value="1" />
	</provider>

</manifest>
